ul{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #333333;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
  border-radius: 0 0 3px 3px;
}
a{
  color:aliceblue;
  text-decoration: none;
}
li{
  flex-basis: 100px;
  text-align: center;
  padding-right: 1vw;
  border-right: solid 1px black;
}
li:first-of-type{
  padding-left: 4%;
  text-align: left;
  flex-grow: 1;
  color: blue'
}
.scrolling{
  background-color: #f8f8f8;
  min-height: 100vh;
  width: 500px;
  margin: auto; 
  
}

.post{
  border: solid 1px #DBDBDB;
  border-radius: 3px;
  width:80%;
  margin: auto; 
}
.title{
  display: flex;
  justify-content: space-between;
}

.photo{
  max-width: 100%;
}

p{
  margin: 0;
  padding: 1vw 0 0 1vw;
}
i{
  margin: 0;
  padding: 1.4vw 1.3vw 0 0;
}
